<div class="row">
  <div class="col-lg-6 col-md-12">
    <!-- CARD ICON -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Add-User"></i>
            <p routerLink="/rider" class="text-muted mt-2 mb-2 Phover">
              Total Users
            </p>
            <span class="loader" *ngIf="showSpinner"></span>

            <p
              *ngIf="!showSpinner"
              class="text-primary text-24 line-height-1 m-0"
            >
              {{ VendorMetrics.userCount }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Dropbox"></i>

            <p routerLink="/order" class="text-muted mt-2 mb-2 Phover">
              Total Products
            </p>
            <span class="loader" *ngIf="showSpinner"></span>
            <p
              *ngIf="!showSpinner"
              class="text-primary text-24 line-height-1 m-0"
            >
              {{ VendorMetrics.productCount }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body p-0">
        <h5 class="card-title m-0 p-3 fw-bold">week Product stats</h5>

        <ngx-shimmering-loader
          [style]="style"
          [elemCount]="1"
          [isVisible]="loading"
        >
        </ngx-shimmering-loader>

        <div
          *ngIf="!loading"
          echarts
          [options]="chartLineOption3"
          style="height:280px"
        ></div>
      </div>
    </div>
  </div>
</div>
